body {
    background-color: #BF3EFF;
    font-size: 200%;
    color: white;
}
#container{
	width:760px;
	height:auto;
	margin:auto;
	background-color: red;
}

#menu{
	height:50px;
	background-color:white;
}
#menu a{
	width:84px;
}
header{
	background-color:red;
	height:150px;
	width:760px;
}
/*<style> goo.gl/1ubpMn
#menu{width:760px;
		height:auto;}
#header{width:760px;
		height:150px;}
#content{height:changes depending on content;
		width:480px;}
#footer{width:760px;
		height:66px;}
		</style>
		*/